Source: dasom
Section: utils
Priority: optional
Maintainer: Hodong Kim <hodong@cogno.org>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libgirepository1.0-dev,
               libglib2.0-dev,
               pkg-config,
               intltool,
               libgtk-3-dev,
               libgtk-3-bin,
               libappindicator3-dev,
               librsvg2-bin,
               fonts-noto-cjk
Standards-Version: 3.9.6
Homepage: https://github.com/dasom-im/dasom

Package: dasom
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: dasom-gtk, dasom-qt, im-config, dconf-editor
Suggests: dasom-jeongeum, gnome-tweak-tool, fonts-noto-cjk
Description: Input Method Framework
 Dasom is a multilingual input method framework, which provides
 .
  * Input Method Server including XIM
  * Indicators for GNOME Shell, Unity, KDE, GNOME panel
  * English engine module embedded

Package: dasom-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         dasom (= ${binary:Version}),
         libgirepository1.0-dev,
         libx11-dev
Description: Input Method Framework (development files)
 Dasom is a multilingual input method framework, which provides
 .
  * Input Method Server including XIM
  * Indicators for GNOME Shell, Unity, KDE, GNOME panel
  * English engine module embedded
 .
 This package contains the development files.
